.l-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 80px;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .l-wrapper {
    padding: 0;
  }
}

.l-langSwitch {
  padding: 30px 0 0 32px;
}
@media screen and (max-width: 1100px) {
  .l-langSwitch {
    padding: 30px 0 0 20px;
  }
}

.l-link-wrapper {
  overflow: hidden;
}

.l-link-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 32px;
  z-index: 10;
}

.l-sp-disp {
  display: none;
}
@media screen and (max-width: 1100px) {
  .l-sp-disp {
    display: block;
  }
  .l-sp-nonDisp {
    display: none;
  }
}

.l-header-flex {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-bottom: 32px;
}
@media screen and (max-width: 1100px) {
  .l-header-flex {
    display: block;
  }
}

.l-header-flex-left {
  flex: 3;
}

.l-header-flex-right {
  flex: 2;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 900px) {
  .l-header-flex-right {
    padding: 0 20px;
  }
}

.l-header-flex-right-imgWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
}
@media screen and (max-width: 900px) {
  .l-header-flex-right-imgWrapper {
    padding: 0;
  }
}

.l-contents-flex {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 5;
}
@media screen and (max-width: 1100px) {
  .l-contents-flex {
    padding: 0 20px;
  }
}

.l-contents-box-left {
  flex: 3;
  padding-right: 32px;
}

.l-contents-box-middle {
  flex: 3;
  padding-right: 32px;
}

.l-contents-box-right {
  flex: 4;
}

@media screen and (max-width: 900px) {
  .l-link-top {
    margin-bottom: 24px;
  }

  .l-contents-flex {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .l-contents-box-left {
    width: 100%;
    padding: 0;
  }

  .l-contents-box-middle {
    width: 100%;
    padding: 0;
  }

  .l-contents-box-right {
    width: 100%;
  }
}
